
 label.booking{
        /*height: 100%;*/
    box-shadow: none;
    border: 0 !important;
    background: none;
    border: none;
    border-radius: none;
    /*margin: 1rem;*/
    text-align: left;
    box-shadow: none;
    position: relative;
 }
        

 