
 label {
        /*height: 100%;*/
        display: block;
        background: white;
        border: 0px solid ;
        border-radius: 0px;
        padding: .25rem;
        margin-bottom: 1rem;
        /*margin: 1rem;*/
        text-align: left;
        box-shadow: none;
        position: relative;
    }
        

 