
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}
.btn-primary{
  border-color:#a2ab4e;
  background-color:#a2ab4e;
}
.btn-primary:focus,
.btn-primary:active{
  border-color:#a2ab4e;
  background-color:#2e9083;
}
@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

body{
	
	/* fonts defined*/
	width: 100vw;
	margin:0;
	padding:0;
	/*margin-left:15px;*/
	
}
a, a:visited {color:#000;}
ul {list-style:none; padding-inline-start:0;}
header{text-align:center;}
footer{display:flex;}
footer.row{margin:50px 200px;}
.heading{margin: 20px 240px; text-align:center;}
.heading h2{ font-size:5rem; }
.heading h4{ font-size:2.5rem; text-align:right;  }
.heading .nameblock h2{font-family: 'Montserrat', sans-serif;}
.heading .nameblock h4{font-family: 'Playfair Display', serif;}
.olive{ color:#a2ab4e; }
.olive h2{ float:right; }
.turquois{ color:#2e9083; }
.contactbox {display:flex;justify-content:center;font-size:35px;}
.olivebk{ background-color:#a2ab4e; width: 100vw;}
.olivebk_footer{background-color:#c7cf7a; width: 100vw;}
.bar { height:45px;  clear:both;}

.barLinkCntr ul {
  list-style-type: none;
  padding: 0;
  overflow: hidden;
  background-color: #a2ab4e;
  text-align: center;
  display:flex;
}

.barLinkCntr li {
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
  padding:10px !important;
}

.barLinkCntr li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

.barLinkCntr li a:hover {
  background-color: #a2ab4e;
}
.OfficeHrBody{float:left;}
.officeHrs{ float:left;}
.officeHrs span{ font-size:.75em;}

img{ float:left; margin:0px 100px 20px 75px; }
.nameblock {float: left; margin:80px; }

section{ margin: 75px 375px; }
.row{margin-block-start: 50px; justify-content:center; margin-left: 50px;}
.col-sm-3{
	
	flex: 0 0 30%;
	max-width: 30%;
}
.col-sm-6{
	display:flex;
	justify-content:center;
	flex: 0 0 30%;
	max-width: 30%;
}
.p-5{
	padding-top: 0rem !important;
	padding-bottom: 0rem !important;
}

.social{
	
	display: inline-flex; 
	list-style: none; 
	width: 100%;
}
.social li{ width:40px;}

/* fonts defined*/
/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) { 
.barLinkCntr{ } 
main {margin:25px;}
.heading{margin: 10px; text-align:center;}
#booking-section{ flex-direction:column;}

.p-5{padding:1rem !important;}    
.col-sm-3{ flex-flow: column wrap;}
section{ margin: 1em; }
img{margin:0px 10px;}
footer.row{margin:50px;  flex-flow: column wrap;}
footer{display:flex; }
.col-sm-6,
.col-sm-3{flex: 100%; max-width:100%;}
.row{ margin:10px}
.barLinkCntr{ margin-left:0px;}
.barLinkCntr li {margin:0px 25px;}
.col-sm{padding:0;}
.heading h2{font-size:2.15rem;}
.heading img{ width:20%;}
.nameblock{float:left;margin:10px; font-size:2.5rem;}
.nameblock h4{margin:10px; font-size:1.5rem;}
.col-sm-6{display:none;}
span.contact {
    padding-right:5em;
    flex-wrap:wrap;
    flex-direction:column;
    align-content: space-between;
        
    }
}
@media (max-width: 768px) and (min-width:576px) { 
    section{ margin: 15px; }
    .heading{margin: 10px; text-align:center;}
    .nameblock{float:left;margin:10px; font-size:2.5rem;}
.nameblock h4{margin:10px; font-size:1.5rem;}
.barLinkCntr{ margin-left:0px;}
img {margin-right:0px;}
.heading h2{
        font-size:3.15rem; 
        margin: 1.25em 0em 0em 0em;
    }
    img{margin:0px;}
}
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {  
section{ margin: 15px; }
.heading h2{
        font-size:3.15rem; 
        margin: 1.25em 0em 0em 0em;
    }
    img{margin:0px;}
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 768px) and (max-width: 992px) { 
section{ margin: 15px; }
.heading h2{font-size:3.15rem; margin: 1.25em 0em 0em; }
.heading{margin: 10px; text-align:center;}
.nameblock{float:left;margin:10px; font-size:2.5rem;}
.nameblock h4{margin:10px; font-size:1.5rem;}
.barLinkCntr{ margin-left:0px;}
img{margin:0px;}
}

/* Extra large devices (large desktops, 1200px and up) */
@media (max-width: 1200px) { 
section{ margin: 15px; }
.heading{margin: 0px; }
.heading h2{ margin-top: 10px; }
.nameblock{
    margin-top: 10px;
}
img{margin:0px;}

}